////
/// Add poster comment here
////
.layout-block {
   margin: auto;

   &.header {
   }

   &.main {
   }

   &.footer {
   }
}

.header {
   &__container {
      @include phone-based-css {
         max-width: $width--phone-breakpoint;
      }

      @include tablet-based-css {
         width: $width--phone-breakpoint;
      }

      @include desktop-based-css {
         width: $width--tablet-breakpoint;
      }

      margin: auto;
      max-width: $width--desktop-breakpoint;
   }
}

.main {
   &__container {
      @include phone-based-css {
         max-width: $width--phone-breakpoint;
      }

      @include tablet-based-css {
         width: $width--phone-breakpoint;
      }

      @include desktop-based-css {
         width: $width--tablet-breakpoint;
      }

      margin: auto;
      max-width: $width--desktop-breakpoint;
   }
}

.footer {
   &__container {
      @include phone-based-css {
         max-width: $width--phone-breakpoint;
      }

      @include tablet-based-css {
         width: $width--phone-breakpoint;
      }

      @include desktop-based-css {
         width: $width--tablet-breakpoint;
      }

      margin: auto;
      max-width: $width--desktop-breakpoint;
   }
}
