////
/// Shame
////

///
/// This file is a temporary placeholder for any Sass/CSS syntax that would otherwise
/// be marked with a TODO in a clean codebase. All the syntax in this file should
/// eventually be placed in the correct partial.
///

body {
   color: #055776;
}

section {
   padding: 48px 0;
}

section:first-of-type {
   margin-top: 4px;
}

img {
   color: darken($color--logo-column, 15%);
}

picture img {
   max-width: 100%;
}

section {
   &:nth-child(odd) {
      background-color: lighten($color--nav-link-text, 74%);
   }

   &:nth-child(even) {
      background-color: lighten($color--logo-column, 25%);
   }

   > div {
      @include mobile-based-css {
         width: $width--phone-breakpoint;
      }

      @include desktop-based-css {
         width: $width--tablet-breakpoint;
      }

      margin: auto;
      max-width: $width--desktop-breakpoint;
   }
}
