////
/// Site-wide global variables.
////

///
/// The base font size, which should translate to 16 pixels via the root
/// em size.
///
$font-size--base: 1rem;

///
/// The width of a single column, sans gutter.
///
$grid--column-width: 60px;

///
/// The width of a single gutter, which is a third of a column, or 20 pixels.
///
$grid--gutter-width: ($grid--column-width / 3);

///
/// A grid unit is the addition of a column and a gutter. In this case, a grid
/// unit is 80 pixels.
///
$grid--unit: ($grid--column-width + $grid--gutter-width);
$grid--leading:      20px;

///
/// Responsive Breakpoints
///
$width--phone-breakpoint:   (5 * $grid--unit);  // 400px
$width--tablet-breakpoint:  (9 * $grid--unit);  // 720px
$width--desktop-breakpoint: (12 * $grid--unit); // 960px
