////
/// Site-wide global variables.
////

///
/// The base font size, which should translate to 16 pixels via the root
/// em size.
///
$font-size--base: 1rem;

///
/// The weight 300 maps to light in the Muli font.
///
$font-weight--light: 300;

///
/// The weight 700 maps to bold, which is common, in the Muli font.
///
$font-weight--bold: 700;

///
/// Use a slightly lighter than black color for the font color base.
///
$font-color--base: #222;

///
/// The prime, or main, font families used for display and reading text.
///
$font-families--prime: 'Muli', sans-serif;

///
/// The width of a single column, sans gutter.
///
$grid--column-width: 60px;

///
/// The width of a single gutter, which is a third of a column, or 20 pixels.
///
$grid--gutter-width: ($grid--column-width / 3);

///
/// A grid unit is the addition of a column and a gutter. In this case, a grid
/// unit is 80 pixels.
///
$grid--unit: ($grid--column-width + $grid--gutter-width);

///
/// Set the leading of the grid to the line-height of the Muli font — 22 pixels.
///
$grid--leading: 22px;

///
/// The phone breakpoint is 5 grid units, or 400 pixels.
///
$width--phone-breakpoint:   (5 * $grid--unit);

///
/// The tablet breakpoint is 9 grid units, or 720 pixels.
///
$width--tablet-breakpoint:  (9 * $grid--unit);

///
/// The desktop breakpoint is 12 grid units, or 960 pixels.
///
$width--desktop-breakpoint: (12 * $grid--unit);

///
/// Height of desktop nav.
///
$height--desktop-nav: (3.875 * $grid--leading);

///
/// The color of the column in the logo.
///
$color--logo-column: rgb(241, 122, 172);

///
/// A variant of the baseline/leading color used in the grid and the logo, this
/// variable establishes the color of the text in the navigation links.
///
$color--nav-link-text: rgb(5, 87, 118);

///
/// Use white for link text against the pink background.
///
$color--nav-link-text--hover: rgb(255, 255, 255);
