////
/// Add poster comment here
////
.layout-block {
   margin: auto;

   &.header {
   }

   &.main {
   }

   &.footer {
   }
}

.header {
   &__container {
      @include phone-based-css {
         max-width: $width--phone-breakpoint;
      }

      @include tablet-based-css {
         width: $width--phone-breakpoint;
      }

      @include desktop-based-css {
         width: $width--tablet-breakpoint;
      }

      display: flex;
      margin: auto;
      max-width: $width--desktop-breakpoint;
   }

   &__link {
      line-height: $height--desktop-nav;

      &:hover {
         background-color: transparent;
      }
   }

   &__logo {
      vertical-align: middle;
   }

   &__heading {
      margin-left: $grid--gutter-width;
      line-height: $height--desktop-nav;
   }

   &__nav {
      margin-left: (2 * $grid--gutter-width);

      li {
         display: inline-block;
         width: (2 * $grid--unit);
         text-align: center;
         line-height: $height--desktop-nav;
         font-size: (1.125 * $font-size--base);

         a {
            display: block;
            width: 100%;
            height: 100%;
         }
      }
   }
}

.main {
   &__container {
      @include phone-based-css {
         max-width: $width--phone-breakpoint;
      }

      @include tablet-based-css {
         width: $width--phone-breakpoint;
      }

      @include desktop-based-css {
         width: $width--tablet-breakpoint;
      }

      margin: auto;
      max-width: $width--desktop-breakpoint;
   }
}

.footer {
   &__container {
      @include phone-based-css {
         max-width: $width--phone-breakpoint;
      }

      @include tablet-based-css {
         width: $width--phone-breakpoint;
      }

      @include desktop-based-css {
         width: $width--tablet-breakpoint;
      }

      margin: auto;
      max-width: $width--desktop-breakpoint;
   }
}
